*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    
}


/* Navigation barre */
header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 0px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    border-top: 0.25rem solid #105ccea6;
    box-shadow:  0px 4px 12px rgb(17 17 17 / 30%);
}
.logo{
        width: 80px;
        cursor: pointer;
        border-radius: 4em;
}

.logo-title {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
    margin-right: 10%;
    cursor: pointer;
}


.logo-title span{
    color: #105ccea6;
    font-size: 1.2em;
    vertical-align: text-top;
    margin-top: -3.5px;
    margin-left: 1%;

}

.navbar {
    display: flex;
    position: relative;

   
}

.navbar li{
    list-style: none;
}
.navbar a{
    color: rgba(0,0,0,.5);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3em;
    margin: 20px 20px;
}


.btn-login{
    padding: 10px 0px;
    width: 40px;
    height: 40px;
    border-radius: 0.9em;
    cursor: pointer;
}

.btn-login:hover{
    background-color: #105ccea6;
    transition: ease-out;
}

header .navbar li a:hover{
    color: #105ccea6;
    border-bottom: 2px solid #105ccea6;
}

/* scrool barre de navigation */

header.sticky{
   
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);    
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover{
    color: #105ccea6;
    border-bottom: 2px solid #105ccea6;
}

/* search box */

.search-box{
    border: solid 1px #52057b;
    margin-top: 40%;
    padding: 30px -150px;
    display:flex;
    justify-content: center;
    box-shadow:1px 2px 3px #716677;
    border-radius: 2em;
    background-color: rgb(248, 248, 248);
    border-top: 0.25rem solid #105ccea6;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-option{
    margin-top: 9%;
}

.search-box button{
    padding: 10px;
    background-color:rgb(0, 0, 0);
    color:#000000;
}

.search-box button:hover{
    background-color: #fde0e0;
    color: rgb(255, 255, 255);
    box-shadow: 1px 2px 3px #fff;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background: #105ccea6;
    padding: 10px 10px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    position: relative;
	left: 23%;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* calendrier */

section .calender {
    justify-content: center;
    align-items: center;
    margin: 5.3%;
    margin-left: -8%;
    padding: 10px 10px;
}